
:root {
    --pink: hsl(343, 84%, 58%);
    --neon: hsl(76, 58%, 53%);
    --bluedark: hsl(249, 49%, 15%);
    --blue: hsl(175, 22%, 66%);
};

.container{
    padding-top: 1rem;
}


.jumbotron-fluid {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: hsl(249, 49%,15%);
    border: 5px; 
    height: 30rem;
    text-align: center;
    border-radius: 0.2rem;
    margin: 40px;
    color:var(--pink);
  }

  .overlay {
    background-color: var(--bluedark);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  input::placeholder {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 100;
    opacity: .9;
    color: black;
}





